
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #f3f3f3;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background-color: #f4f4f4;
}
a {
  color: #598a31;
}
a:hover,
a:focus {
  color: #598a31;
}
a:active {
  color: #598a31;
}
.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}
#page-wrapper {
  background: #292929;
}
.region-header,
.region-header a,
.region-header li a.active,
#secondary-menu-links li a {
  color: #595959;
}
#name-and-slogan,
#name-and-slogan a {
  color: #2c4d62;
}
.green-text {
  color: #598a31;
}
