
/* ---------- Overall Specifications ---------- */

body {
    font-size: 87.5%;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0 !important;
}
*:focus {
    outline: 0 !important;
}
a {
    outline: 0 !important;
}
a:link,
a:visited {
    text-decoration: none;
}
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.0em 0 0.5em;
    font-weight: inherit;
}
h1 {
    font-size: 1.357em;
    color: #000;
}
h2 {
    font-size: 1.143em;
}
p {
    margin: 0 0 1.2em;
    color: #4a4a4a;
    font-size: 14px;
}
del {
    text-decoration: line-through;
}
tr.odd {
    background-color: #dddddd;
}
img {
    outline: 0;
}
code,
pre,
kbd,
samp,
var {
    padding: 0 0.4em;
    font-size: 0.857em;
    font-family: Menlo, Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New";
}
code {
    background-color: #f2f2f2;
    background-color: rgba(40, 40, 0, 0.06);
}
pre code,
pre kbd,
pre samp,
pre var,
kbd kbd,
kbd samp,
code var {
    font-size: 100%;
    background-color: transparent;
}
pre code,
pre samp,
pre var {
    padding: 0;
}
.description code {
    font-size: 1em;
}
kbd {
    background-color: #f2f2f2;
    border: 1px outset #575757;
    margin: 0 3px;
    color: #666;
    display: inline-block;
    padding: 0 6px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
pre {
    background-color: #f2f2f2;
    background-color: rgba(40, 40, 0, 0.06);
    margin: 10px 0;
    overflow: hidden;
    padding: 15px;
    white-space: pre-wrap;
}


/* ------------------ Fonts ------------------ */

body,
#site-slogan,
.ui-widget,
.comment-form label {
    font-family: Arial, sans-serif;
}
#header,
#footer-wrapper,
#skip-link,
ul.contextual-links,
ul.links,
ul.primary,
.item-list .pager,
div.field-type-taxonomy-term-reference,
div.messages,
div.meta,
p.comment-time,
table,
.breadcrumb {
    font-family: Arial, sans-serif;
}
input,
textarea,
select,
a.button {
    font-family: Arial, sans-serif;
}

/* ------------------ Reset Styles ------------------ */

caption {
    text-align: left; /* LTR */
    font-weight: normal;
}
blockquote {
    background: #f7f7f7;
    border-left: 1px solid #bbb;
    font-style: italic;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}
blockquote:before {
    color: #bbb;
    content: "\201C";
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.2em;
    vertical-align: -.4em;
}
blockquote:after {
    color: #bbb;
    content: "\201D";
    font-size: 3em;
    line-height: 0.1em;
    vertical-align: -.45em;
}
blockquote > p:first-child {
    display: inline;
}
a.feed-icon {
    display: inline-block;
    padding: 15px 0 0 0;
}

/* ------------------ Table Styles ------------------ */

table {
    border: 0;
    border-spacing: 0;
    font-size: 0.857em;
    margin: 10px 0;
    width: 100%;
}
table table {
    font-size: 1em;
}
#footer-wrapper table {
    font-size: 11px;
    color: #eeeeee;
}
#footer-wrapper table {
    padding: 0;
    margin: 5px 0 0 0;
}
#footer-wrapper table,
#footer-wrapper td,
#footer-wrapper tr,
#footer-wrapper tbody {
    border: none;
    background: none;
}
#footer-wrapper table .white-text {
    color:  #ffffff;
    font-weight: bold;
}
#footer-wrapper table .no-icon {
    padding-left: 40px;
}
#footer-wrapper table img {
    margin-right: 5px;
}
table tr th {
    background: #757575;
    background: rgba(0, 0, 0, 0.51);
    border-bottom-style: none;
}
table tr th,
table tr th a,
table tr th a:hover {
    color: #FFF;
    font-weight: bold;
}
table tbody tr th {
    vertical-align: top;
}
tr td,
tr th {
    padding: 4px 17px;
    border: 1px solid #fff;
    text-align: left; /* LTR */
}
tr.odd {
    background: #e4e4e4;
    background: rgba(0, 0, 0, 0.105);
}
tr,
tr.even {
    background: #efefef;
    background: rgba(0, 0, 0, 0.063);
}
table ul.links {
    margin: 0;
    padding: 0;
    font-size: 1em;
}
table ul.links li {
    padding: 0 1em 0 0;
}

/* ------------------ List Styles ------------------ */

.block ol,
.block ul {
    margin: 0;
    padding: 0 0 0.25em 1em; /* LTR */
}
.contextual-links-wrapper {
    font-size: small !important;
}
ul.contextual-links {
    font-size: 0.923em;
}
.contextual-links-wrapper a {
    text-shadow: 0 0 0 !important;
}
.item-list .pager {
    font-size: 0.929em;
}
ul.menu li {
    margin: 0;
}
.region-content ul,
.region-content ol {
    margin: 1em 0;
    padding: 0 0 0.25em 2.5em; /* LTR */
}
.item-list ul li {
    margin: 0;
    padding: 0.2em 0.5em 0 0; /* LTR */
}
ul.tips {
    padding: 0 0 0 1.25em; /* LTR */
}

/* ------------------ Header ------------------ */
#skip-link {
    left: 50%;
    margin-left: -5.25em;
    margin-top: 0;
    position: absolute;
    width: auto;
    z-index: 50;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
    background: #444;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: block;
    font-size: 0.94em;
    line-height: 1.7;
    padding: 1px 10px 2px 10px;
    text-decoration: none;
    -khtml-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-radius: 0 0 10px 10px;
}
#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
    outline: 0;
}
#logo {
    float: left; /* LTR */
    padding: 25px 15px; /* LTR */
    width: 265px;
}
#name-and-slogan {
    float: right; /* LTR */
}
#site-name {
    font-size: 1.821em;
    color: #686868;
    line-height: 1;
}
h1#site-name {
    margin: 0;
}
#site-name a {
    font-weight: normal;
}
#site-slogan {
    font-size: 0.857em;
    word-spacing: 0.1em;
}
/* Region header blocks. */
.region-header .block {
    font-size: 0.857em;
    margin: 0 10px;
    padding: 0;
    float: right;
}
.region-header .block:after {
    content: '';
    clear: both;
    display:block;
}
.region-header .block .content {
    margin: 0;
    padding: 0;
}
.region-header .block ul {
    margin: 0;
    padding: 0;
}
.region-header .block li {
    list-style: none none;
    padding: 0;
    float: left;
    height: 20px;
}
.region-header .form-text {
    background: #fefefe;
    background: rgba(255, 255, 255, 0.7);
    border-color: #ccc;
    border-color: rgba(255, 255, 255, 0.3);
    margin-right: 2px; /* LTR */
    width: 120px;
}
.region-header .form-text:hover,
.region-header .form-text:focus,
.region-header .form-text:active {
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
}
.region-header .form-required {
    color: #eee;
    color: rgba(255, 255, 255, 0.7);
}
/* Region header block menus. */
.region-header .block-menu {
    padding: 0;
    margin-top: 5px;
}
.region-header .block-menu li a {
    display: block;
    margin-left: 15px;
    padding: 3px 0;
}
.region-header .block li.last {
    background: url(../images/money.png) right center no-repeat;
}
.region-header .block li.last a {
    padding-right: 20px;
}
.region-header .block-menu li a:hover,
#block-block-1 a:hover{
    background: url(../images/menu-link-hover-bg.png) 0 17px repeat-x;
}
.region-header .block-menu li a:focus,
.region-header .block-menu li a:active,
.region-header .block-menu li a.active,
#block-block-1 a:focus,
#block-block-1 a:active,
#block-block-1 a.active {
    text-decoration: none;
    background: url(../images/menu-link-active-bg.png) 0 17px repeat-x;
}
#block-block-1 a {
    padding: 3px 0;
}
/* User Login block in the header region */
.region-header #block-user-login {
    width: auto;
}
.region-header #block-user-login .content {
    margin-top: 2px;
}
.region-header #block-user-login .form-item {
    float: left; /* LTR */
    margin: 0;
    padding: 0;
}
.region-header #block-user-login div.item-list,
.region-header #block-user-login div.description {
    font-size: 0.916em;
    margin: 0;
}
.region-header #block-user-login div.item-list {
    clear: both;
}
.region-header #block-user-login div.description {
    display: inline;
}
.region-header #block-user-login .item-list ul {
    padding: 0;
    line-height: 1;
}
.region-header #block-user-login .item-list li {
    list-style: none;
    float: left; /* LTR */
    padding: 3px 0 1px;
}
.region-header #block-user-login .item-list li.last {
    padding-left: 0.5em; /* LTR */
}
.region-header #block-user-login ul.openid-links li.last {
    padding-left: 0; /* LTR */
}
.region-header #user-login-form li.openid-link a,
.region-header #user-login li.openid-link a {
    padding-left: 20px; /* LTR */
}
.region-header #block-user-login .form-actions {
    margin: 4px 0 0;
    padding: 0;
    clear: both;
}
.region-header #block-user-login input.form-submit {
    border: 1px solid;
    border-color: #ccc;
    border-color: rgba(255, 255, 255, 0.5);
    background: #eee;
    background: rgba(255, 255, 255, 0.7);
    margin: 4px 0;
    padding: 3px 8px;
}
.region-header #block-user-login input.form-submit:hover,
.region-header #block-user-login input.form-submit:focus {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
}
/* Search block in region header. */
.region-header #block-search-form {
    width: 208px;
}
.region-header #block-search-form .form-text {
    width: 154px;
}
/* Language switcher block in region header. */
.region-header .block-locale ul li {
    display: inline;
    padding: 0 0.5em;
}

/* --------------- Main Menu ------------ */

#main-menu {
    clear: both;
}
#main-menu-links {
    font-size: 0.929em;
    margin: 0;
    padding: 0 15px;
}
#main-menu-links li {
    float: left; /* LTR */
    list-style: none;
    padding: 0 1px;
    margin: 0 1px;
}
#main-menu-links a {
    color: #333;
    background: #ccc;
    background: rgba(255, 255, 255, 0.7);
    float: left; /* LTR */
    height: 2.4em;
    line-height: 2.4em;
    padding: 0 0.8em;
    text-decoration: none;
    text-shadow: 0 1px #eee;
    -khtml-border-radius-topleft: 8px;
    -khtml-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#main-menu-links a:hover,
#main-menu-links a:focus {
    background: #f6f6f2;
    background: rgba(255, 255, 255, 0.95);
}
#main-menu-links a:active {
    background: #b3b3b3;
    background: rgba(255, 255, 255, 1);
}
#main-menu-links li a.active {
    border-bottom: none;
}
.featured #main-menu-links li a:active,
.featured #main-menu-links li a.active {
    background: #f0f0f0;
    background: rgba(240, 240, 240, 1.0);
}

/* --------------- Secondary Menu ------------ */

#secondary-menu-links {
    float: right; /* LTR */
    font-size: 0.929em;
    margin: 10px 10px 0;
}
#secondary-menu-links a:hover,
#secondary-menu-links a:focus {
    text-decoration: underline;
}

/* ------------------- Main ------------------- */

#main {
    margin: -60px auto 70px auto;
    min-height: 400px;
    background: #ffffff;
    box-shadow: 2px 10px 15px rgba(150, 150, 150, 0.4),
    -2px 10px 15px rgba(150, 150, 150, 0.4);
}

/* ----------------- Featured ----------------- */

#featured {
    margin: 0;
    background: url(../images/slider-bg.png) repeat-x;
    box-shadow: 0 3px 3px #dedede;
    height: 348px;
    padding-top: 25px;
}
#featured h2 {
    font-size: 1.174em;
    line-height: 1;
}
#featured p {
    margin: 0;
    padding: 0;
}

/* --------------- Highlighted ---------------- */

#highlighted {
    border-bottom: 1px solid #d3d7d9;
    font-size: 120%;
}

/* ------------------- Help ------------------- */

.region-help {
    border: 1px solid #d3d7d9;
    padding: 0 1.5em;
    margin-bottom: 30px;
}

/* ----------------- Content ------------------ */

.content {
    margin-top: 10px;
}
h1#page-title,
h1#payment-table-title {
    line-height: 1;
    padding-top: 25px;
    font-size: 20px;
    border-bottom: 1px solid #F1F1F1;
    color: #598a31;
}
.panel-first,
.panel-second,
.panel-third {
    text-align: right;
    width: 40%;
    margin-right: 2%;
}
.form-content input,
.form-content select {
    margin-bottom: 12px;
}
.panel-first,
.panel-third {
    width: 28%;
    margin-right: 1%;
}
.back-button a {
    text-decoration: underline;
    color: #00A0C6 !important;
}
.back-button {
    padding-top: 8px;
    cursor: pointer;
    color: #00A0C6 !important;
}
#content h2 {
    margin-bottom: 2px;
    font-size: 18px;
}
.node .content {
    font-size: 1.071em;
}
.node-teaser .content {
    font-size: 1em;
}
.node-teaser h2 {
    margin-top: 0;
    padding-top: 0.5em;
}
.node-teaser h2 a {
    color: #181818;
}
.node-teaser {
    border-bottom: 1px solid #d3d7d9;
    margin-bottom: 30px;
    padding-bottom: 15px;
}
.node-sticky {
    background: #f9f9f9;
    background: rgba(0, 0, 0, 0.024);
    border: 1px solid #d3d7d9;
    padding: 0 15px 15px;
}
.node-full {
    background: none;
    border: none;
    padding: 0;
}
.node-teaser .content {
    clear: none;
    line-height: 1.6;
}
.meta {
    font-size: 0.857em;
    color: #68696b;
    margin-bottom: -5px;
}
.submitted .user-picture img {
    float: left; /* LTR */
    height: 20px;
    margin: 1px 5px 0 0; /* LTR */
}
.field-type-taxonomy-term-reference {
    margin: 0 0 1.2em;
}
.field-type-taxonomy-term-reference .field-label {
    font-weight: normal;
    margin: 0;
    padding-right: 5px; /* LTR */
}
.field-type-taxonomy-term-reference .field-label,
.field-type-taxonomy-term-reference ul.links {
    font-size: 0.8em;
}
.node-teaser .field-type-taxonomy-term-reference .field-label,
.node-teaser .field-type-taxonomy-term-reference ul.links {
    font-size: 0.821em;
}
.field-type-taxonomy-term-reference ul.links {
    padding: 0;
    margin: 0;
    list-style: none;
}
.field-type-taxonomy-term-reference ul.links li {
    float: left; /* LTR */
    padding: 0 1em 0 0; /* LTR */
    white-space: nowrap;
}
.link-wrapper {
    text-align: right;
}
.field-type-image img,
.user-picture img {
    margin: 0 0 1em;
}
ul.links {
    color: #68696b;
    font-size: 0.821em;
}
.node-unpublished {
    margin: -20px -15px 0;
    padding: 20px 15px 0;
}
.node-unpublished .comment-text .comment-arrow {
    border-left: 1px solid #fff4f4;
    border-right: 1px solid #fff4f4;
}

/* ----------------- Comments ----------------- */

.comment h2.title {
    margin-bottom: 1em;
}
.comment div.user-picture img {
    margin-left: 0; /* LTR */
}
.comment {
    margin-bottom: 20px;
    display: table;
    vertical-align: top;
}
.comment .attribution {
    display: table-cell;
    padding: 0 30px 0 0; /* LTR */
    vertical-align: top;
    overflow: hidden;
}
.comment .attribution img {
    margin: 0;
    border: 1px solid #d3d7d9;
}
.comment .attribution .username {
    white-space: nowrap;
}
.comment .submitted p {
    margin: 4px 0;
    font-size: 1.071em;
    line-height: 1.2;
}
.comment .submitted .comment-time {
    font-size: 0.786em;
    color: #68696b;
}
.comment .submitted .comment-permalink {
    font-size: 0.786em;
    text-transform: lowercase;
}
.comment .content {
    font-size: 0.929em;
    line-height: 1.6;
}
.comment .comment-arrow {
    background: url(../images/comment-arrow.gif) no-repeat 0 center transparent; /* LTR */
    border-left: 1px solid;
    border-right: 1px solid;
    height: 40px;
    margin-left: -47px; /* LTR */
    margin-top: 10px;
    position: absolute;
    width: 20px;
}
.comment .comment-text {
    padding: 10px 25px;
    border: 1px solid #d3d7d9;
    display: table-cell;
    vertical-align: top;
    position: relative;
    width: 100%;
}
.comment .indented {
    margin-left: 40px; /* LTR */
}
.comment ul.links {
    padding: 0 0 0.25em 0;
}
.comment ul.links li {
    padding: 0 0.5em 0 0; /* LTR */
}
.comment-unpublished {
    margin-right: 5px; /* LTR */
    padding: 5px 2px 5px 5px; /* LTR */
}
.comment-unpublished .comment-text .comment-arrow {
    border-left: 1px solid #fff4f4;
    border-right: 1px solid #fff4f4;
}

/* ------------------ Sidebar ----------------- */
.sidebar .section {
    padding-top: 10px;
}
.sidebar .block {
    border: 1px solid;
    padding: 15px 20px;
    margin: 0 0 20px;
}
.sidebar h2 {
    margin: 0 0 0.5em;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 5px;
    text-shadow: 0 1px 0 #fff;
    font-size: 1.071em;
    line-height: 1.2;
}
.sidebar .block .content {
    font-size: 0.914em;
    line-height: 1.4;
}
.sidebar tbody {
    border: none;
}
.sidebar tr.even,
.sidebar tr.odd {
    background: none;
    border-bottom: 1px solid #d6d6d6;
}

/* ----------------- Triptych ----------------- */

#triptych-wrapper {
    background: url(../images/footer-1-bg.png) repeat-x;
    height: 75px;
}
#triptych h2 {
    color: #000;
    font-size: 1.714em;
    margin-bottom: 0.8em;
    text-shadow: 0 1px 0 #fff;
    text-align: center;
    line-height: 1;
}
#triptych .block.last {
    border-bottom: none;
}
#triptych .block ul li,
#triptych .block ol li {
    list-style: none;
}
#triptych .block ul,
#triptych .block ol {
    padding-left: 0;
}
#triptych #block-user-login .form-text {
    width: 185px;
}
#triptych #block-user-online p {
    margin-bottom: 0;
}
#triptych #block-node-syndicate h2 {
    overflow: hidden;
    width: 0;
    height: 0;
}
#triptych-last #block-node-syndicate {
    text-align: right;
}
#triptych #block-search-form .form-type-textfield input {
    width: 185px;
}
#triptych-middle #block-system-powered-by {
    text-align: center;
}
#triptych-last #block-system-powered-by {
    text-align: right;
}

/* ------------------ Footer ------------------ */

#footer-wrapper {
    color: #c0c0c0;
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.857em;
    background: url(../images/footer-2-bg.png);
    overflow: hidden;
}
#footer-wrapper a {
    color: #fcfcfc;
    color: rgba(255, 255, 255, 0.8);
}
#footer-wrapper a:hover,
#footer-wrapper a:focus {
    color: #fefefe;
    color: rgba(255, 255, 255, 0.95);
    text-decoration: underline;
}
#footer-columns .block-menu,
#footer .block {
    margin: 0;
    padding: 0;
    border: none;
}
#footer .block {
    margin: 0.5em 0;
}
#footer .block .content {
    padding: 0.5em 0;
    margin-top: 0;
}
#footer .block h2 {
    margin: 0;
}
#footer-columns h2 {
    border-bottom: 1px solid #555;
    border-color: rgba(255, 255, 255, 0.15);
    font-size: 1em;
    margin-bottom: 0;
    padding-bottom: 3px;
    text-transform: uppercase;
}
#footer-columns .content {
    margin-top: 0;
}
#footer-columns p {
    margin-top: 1em;
}
#footer-columns .content ul {
    list-style: none;
    padding-left: 0; /* LTR */
    margin-left: 0;
    width: 340px;
}
#footer-columns .content li {
    list-style: none;
    margin: 0;
    float: left;
    color: #eeeeee;
    width: 155px;
    padding: 5px 0 5px 15px;
    background: url(../images/footer-menu-arrow.png) 0 center no-repeat;
}
#footer-columns .content li a {
    display: block;
}
#footer-columns .content li a:hover,
#footer-columns .content li a:focus {
    text-decoration: none;
}
#footer {
    margin-top: 30px;
}
#footer .region {
    margin-top: 20px;
}
#footer .block {
    clear: both;
}
#footer ul,
#footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}
#footer li a {
    float: left; /* LTR */
    padding: 0 12px;
    display: block;
    border-right: 1px solid #555; /* LTR */
    border-color: rgba(255, 255, 255, 0.15);
}
#footer li.first a {
    padding-left: 0; /* LTR */
}
#footer li.last a {
    padding-right: 0; /* LTR */
    border-right: none; /* LTR */
}
#footer-wrapper tr.odd {
    background-color: transparent;
}
#footer-wrapper tr.even {
    background-color: #2c2c2c;
    background-color: rgba(0, 0, 0, 0.15);
}

/* --------------- System Tabs  --------------- */

.tabs {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
}
.tabs ul.primary {
    padding: 0 3px;
    margin: 0;
    overflow: hidden;
    border: none;
    background: transparent url(../images/tabs-border.png) repeat-x left bottom;
}
.tabs ul.primary li {
    display: block;
    float: left; /* LTR */
    vertical-align: bottom;
    margin: 0 5px 0 0; /* LTR */
}
.tabs ul.primary li.active a {
    border-bottom: 1px solid #ffffff;
}
.tabs ul.primary li a {
    color: #000;
    background-color: #ededed;
    height: 1.8em;
    line-height: 1.9;
    display: block;
    font-size: 0.929em;
    float: left; /* not LTR */
    padding: 0 10px 3px;
    margin: 0;
    text-shadow: 0 1px 0 #fff;
    -khtml-border-radius-topleft: 6px;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -khtml-border-radius-topright: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
}
.tabs ul.primary li.active a {
    background-color: #ffffff;
}
.tabs ul.secondary {
    border-bottom: none;
    padding: 0.5em 0;
}
.tabs ul.secondary li {
    display: block;
    float: left; /* LTR */
}
.tabs ul.secondary li:last-child {
    border-right: none; /* LTR */
}
.tabs ul.secondary li:first-child {
    padding-left: 0; /* LTR */
}
.tabs ul.secondary li a {
    padding: 0.25em 0.5em;
}
.tabs ul.secondary li a.active {
    background: #f2f2f2;
    border-bottom: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
ul.action-links {
    list-style: none;
    margin: 5px;
    padding: 0.5em 1em;
}
ul.action-links li {
    display: inline-block;
    margin-left: 10px;
}
ul.action-links li a {
    padding-left: 15px;
    background: url(../images/add.png) no-repeat left center;
    margin: 0 10px 0 0;
}

/* ---------------- Messages  ----------------- */

#messages {
    padding: 20px 0 5px;
    margin: 0 auto;
}
.featured #messages {
    background: #f0f0f0;
    background: rgba(30, 50, 10, 0.08);
}
div.messages {
    margin: 8px 15px;
}

/* -------------- Breadcrumbs   -------------- */

.breadcrumb {
    font-size: 0.929em;
}

/* -------------- User Profile   -------------- */

.profile .user-picture {
    float: none;
}

/* -------------- Password Meter  ------------- */

.confirm-parent,
.password-parent {
    width: 34em;
}
.password-parent,
div.form-item div.password-suggestions {
    position: relative;
}
.password-strength-text,
.password-strength-title,
div.password-confirm {
    font-size: 0.82em;
}
.password-strength-text {
    margin-top: 0.2em;
}
div.password-confirm {
    margin-top: 2.2em;
    width: 20.73em;
}

/* ---------------- Buttons    ---------------- */

input.form-submit,
a.button {
    background: #fff url(../images/buttons.png) 0 0 repeat-x;
    border: 1px solid #e4e4e4;
    border-bottom: 1px solid #b4b4b4;
    border-left-color: #d2d2d2;
    border-right-color: #d2d2d2;
    color: #3a3a3a;
    cursor: pointer;
    font-size: 0.929em;
    font-weight: normal;
    text-align: center;
    margin-bottom: 1em;
    margin-right: 0.6em; /* LTR */
    padding: 4px 17px;
    -khtml-border-radius: 15px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
a.button:link,
a.button:visited,
a.button:hover,
a.button:focus,
a.button:active {
    text-decoration: none;
    color: #5a5a5a;
}

/* -------------- Form Elements   ------------- */

fieldset {
    background: #ffffff;
    border: 1px solid #cccccc;
    margin-top: 10px;
    margin-bottom: 32px;
    padding: 0 0 10px;
    position: relative;
    top: 12px; /* Offsets the negative margin of legends */
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.fieldset-wrapper {
    margin-top: 25px;
}
.node-form .vertical-tabs .fieldset-wrapper {
    margin-top: 0;
}
.filter-wrapper {
    top: 0;
    padding: 1em 0 0.2em;
    -khtml-border-radius-topright: 0;
    -khtml-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.filter-help a {
    font-size: 0.857em;
    padding: 2px 20px 0;
}
.filter-wrapper .form-item label {
    margin-right: 10px;
}
.filter-wrapper .form-item {
    padding: 0 0 0.5em 0.5em;
}
.filter-guidelines {
    padding: 0 1.5em 0 0.5em;
}
fieldset.collapsed {
    background: transparent;
    -khtml-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
fieldset legend {
    background: #dbdbdb;
    border: 1px solid #ccc;
    border-bottom: none;
    color: #3b3b3b;
    display: block;
    height: 2em;
    left: -1px; /* LTR */
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    line-height: 2;
    padding: 0;
    position: absolute;
    text-indent: 10px;
    text-shadow: 0 1px 0 #fff;
    top: -12px;
    width: 100%;
    -khtml-border-radius-topleft: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -khtml-border-radius-topright: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}
fieldset.collapsed legend {
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
fieldset legend a {
    color: #3b3b3b;
}
fieldset legend a:hover,
fieldset legend a:focus,
fieldset legend a:active {
    color: #000;
}
fieldset .fieldset-wrapper {
    padding: 0 10px;
}
fieldset .fieldset-description {
    margin-top: 5px;
    margin-bottom: 1em;
    line-height: 1.4;
    color: #3c3c3c;
    font-style: italic;
}
input {
    margin: 2px 0;
    padding: 4px;
}
input,
textarea {
    font-size: 0.929em;
}
textarea {
    line-height: 1.5;
}
textarea.form-textarea,
select.form-select {
    padding: 4px;
}
input.form-text,
textarea.form-textarea,
select.form-select {
    border: 1px solid #ccc;
}
input.form-submit:hover,
input.form-submit:focus {
    background: #dedede;
}
.password-suggestions ul li {
    margin-left: 1.2em; /* LTR */
}
.form-item {
    margin-bottom: 1em;
    margin-top: 2px;
}
.form-item label {
    font-size: 0.929em;
}
.form-type-radio label,
.form-type-checkbox label {
    margin-left: 4px;
}
.form-type-radio .description,
.form-type-checkbox .description {
    margin-left: 2px;
}
.form-actions {
    padding-top: 10px;
}
/* Contact Form */
.contact-form #edit-name {
    width: 75%;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.contact-form #edit-mail {
    width: 75%;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.contact-form #edit-subject {
    width: 75%;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.contact-form #edit-message {
    width: 76.3%;
    -khtml-border-top-left-radius: 4px;
    -khtml-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.contact-form .resizable-textarea .grippie {
    width: 76%;
    -khtml-border-bottom-left-radius: 4px;
    -khtml-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Disabled form elements */
input.form-button-disabled,
input.form-button-disabled:hover,
input.form-button-disabled:focus,
input.form-button-disabled:active,
.form-disabled input,
.form-disabled select,
.form-disabled textarea {
    background: #ededed;
    border-color: #bbb;
    color: #717171;
}
.form-disabled .grippie {
    background-color: #ededed;
    border-color: #bbb;
}
.form-disabled label {
    color: #717171;
}

/* Animated throbber */
html.js input.form-autocomplete {
    background-position: 100% 4px; /* LTR */
}
html.js input.throbbing {
    background-position: 100% -16px; /* LTR */
}

/* Comment form */
.comment-form label {
    float: left; /* LTR */
    font-size: 0.929em;
    width: 120px;
}
.comment-form input,
.comment-form .form-select {
    margin: 0;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.comment-form .form-type-textarea label {
    float: none;
}
.comment-form .form-item,
.comment-form .form-radios,
.comment-form .form-type-checkbox,
.comment-form .form-select {
    margin-bottom: 10px;
    overflow: hidden;
}
.comment-form .form-type-checkbox,
.comment-form .form-radios {
    margin-left: 120px; /* LTR */
}
.comment-form .form-type-checkbox label,
.comment-form .form-radios label {
    float: none;
    margin-top: 0;
}
.comment-form input.form-file {
    width: auto;
}
.no-sidebars .comment-form .form-text {
    width: 800px;
}
.one-sidebar .comment-form .form-text {
    width: 500px;
}
.two-sidebars .comment-form .form-text {
    width: 320px;
}
.comment-form .form-item .description {
    font-size: 0.786em;
    line-height: 1.2;
    margin-left: 120px; /* LTR */
}
#content h2.comment-form {
    margin-bottom: 0.5em;
}
.comment-form .form-textarea {
    -khtml-border-radius-topleft: 4px;
    -khtml-border-radius-topright: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.comment-form fieldset.filter-wrapper .fieldset-wrapper,
.comment-form .text-format-wrapper .form-item {
    margin-top: 0;
    margin-bottom: 0;
}
.filter-wrapper label {
    width: auto;
    float: none;
}
.filter-wrapper .form-select {
    min-width: 120px;
}
.comment-form fieldset.filter-wrapper .tips {
    font-size: 0.786em;
}
#comment-body-add-more-wrapper .form-type-textarea label {
    margin-bottom: 0.4em;
}
#edit-actions input {
    margin-right: 0.6em; /* LTR */
}

/* -------------- Other Overrides ------------- */

div.password-suggestions {
    border: 0;
}
.ui-widget-overlay {
    background: #222222;
    opacity: 0.7;
}
div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
    padding: 1em;
}
#forum .name {
    font-size: 1.083em;
}
#forum .description {
    font-size: 1em;
}

/* --------------- Search Form ---------------- */

#block-search-form {
    padding-bottom: 7px;
}
#block-search-form .content {
    margin-top: 0;
}
#search-form input#edit-keys,
#block-search-form .form-item-search-block-form input {
    float: left; /* LTR */
    font-size: 1em;
    height: 1.143em;
    margin-right: 5px;
    width: 9em;
}
#search-block-form input.form-submit,
#search-form input.form-submit {
    margin-left: 0;
    margin-right: 0;
    height: 25px;
    width: 34px;
    padding: 0;
    cursor: pointer;
    text-indent: -9999px;
    border-color: #e4e4e4 #d2d2d2 #b4b4b4;
    background: url(../images/search-button.png) no-repeat center top;
    overflow: hidden;
}
#search-block-form input.form-submit:hover,
#search-block-form input.form-submit:focus,
#search-form input.form-submit:hover,
#search-form input.form-submit:focus {
    background-position: center bottom;
}
#search-form .form-item-keys label {
    display: block;
}

/* --------------- Search Results ---------------- */
ol.search-results {
    padding-left: 0;
}
.search-results li {
    border-bottom: 1px solid #d3d7d9;
    padding-bottom: 0.4285em;
    margin-bottom: 0.5em;
}
.search-results li:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 1em;
}
.search-results .search-snippet-info {
    padding-left: 0;
}

/* -------------- Shortcut Links -------------- */

.shortcut-wrapper {
    margin: 2.2em 0 1.1em 0; /* Same as usual h1#page-title margin. */
}
.shortcut-wrapper h1#page-title {
    float: left; /* LTR */
    margin: 0;
}
div.add-or-remove-shortcuts {
    padding-top: 0.9em;
}
.overlay div.add-or-remove-shortcuts {
    padding-top: 0.8em;
}

/* ---------- Admin-specific Theming ---------- */

.page-admin #content img {
    margin-right: 15px; /* LTR */
}
.page-admin #content .simpletest-image img {
    margin: 0;
}
.page-admin-structure-block-demo .block-region {
    background: #ffff66;
    border: 1px dotted #9f9e00;
    color: #000;
    font: 90% "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    margin: 5px;
    padding: 5px;
    text-align: center;
    text-shadow: none;
}
.page-admin-structure-block-demo #featured .block-region {
    font-size: 0.55em;
}
.page-admin-structure-block-demo #header .block-region {
    width: 500px;
}
.page-admin #admin-dblog img {
    margin: 0 5px;
}
/* Fix spacing when Seven is used in the overlay. */
#system-theme-settings fieldset {
    padding: 0;
}
#system-theme-settings fieldset .fieldset-legend {
    margin-top: 0;
}
/* Configuration. */
div.admin .right,
div.admin .left {
    width: 49%;
    margin: 0;
}
div.admin-panel {
    background: #fbfbfb;
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 0 5px 5px;
}
div.admin-panel h3 {
    margin: 16px 7px;
}
div.admin-panel dt {
    border-top: 1px solid #ccc;
    padding: 7px 0 0;
}
div.admin-panel dd {
    margin: 0 0 10px;
}
div.admin-panel .description {
    margin: 0 0 14px 7px;
}

/* ---------- Overlay layout styles ----------- */

.overlay #main,
.overlay #content {
    width: auto;
    float: none;
}
.overlay #page {
    padding: 0 2em;
}
.overlay .region-page-top,
.overlay #header,
.overlay #page-title,
.overlay #featured,
.overlay #sidebar-first,
.overlay #triptych-wrapper,
.overlay #footer-wrapper {
    display: none;
}
.overlay-processed .field-type-image {
    display: block;
    float: none;
}
.overlay #messages {
    width: auto;
}

/* ---------- Poll ----------- */

.node .poll {
    margin: 2em 0;
}
.node .poll #edit-choice {
    margin: 0 0 1.5em;
}
.poll .vote-form {
    text-align: left; /* LTR */
}
.poll .vote-form .choices {
    margin: 0;
}
.poll .percent {
    font-size: 0.857em;
    font-style: italic;
    margin-bottom: 3em;
    margin-top: -3.2em;
    float: right;
    text-align: right;
}
.poll .text {
    clear: right;
    margin-right: 2.25em;
}
.poll .total {
    font-size: 0.929em;
    font-style: italic;
    text-align: right; /* LTR */
    clear: both;
}
.node .poll {
    margin: 1.8em 0 0;
}
.node .poll .text {
    margin-right: 6.75em;
}
.node .poll #edit-choice {
    margin: 0 0 1.2em;
}
.poll .bar .foreground {
    background-color: #666;
}
#footer-wrapper .poll .bar {
    background-color: #666;
}
#footer-wrapper .poll .bar .foreground {
    background-color: #ddd;
}

/*-------------- Slideshow ------------*/

.views-slideshow-cycle-main-frame-row-item img {
    border: solid 5px #ffffff;
}

.skin-default .views-field-body, .skin-default .views-field-body p {
    font-size: 30px;
    color: #ffffff;
    text-shadow: 0 -1px 3px #000000;
    font-weight: 300;
    text-align: center;
}

.skin-default .views-field-body {
    float: left;
    width: 300px;
    padding: 30px;
}

.skin-default .views-field-body:after {
    content: '';
    clear: both;
    display:block;
}

.views-slideshow-pager-field-item {
    float: left;
}

.views-slideshow-pager-field-item .views-row-last:after {
    content: '';
    clear: both;
    display:block;
}

.views-slideshow-controls-bottom {
    float: right;
    margin-top: -20px;
}

.views-slideshow-controls-bottom:after {
    content: '';
    clear: both;
    display:block;
}

.views-slideshow-pager-field-item {
    cursor: pointer;
    background: #ffffff;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    content: '';
    z-index: 30;
    margin-left: 5px;
}

.views-slideshow-pager-field-item.active {
    background: #a0d077;
}

.views-field-field-image {
    float: left;
}
.footer-logo-text {
    font-size: 11px;
    color: #eeeeee;
    font-family: Arial, sans-serif;
    text-align: center;
    width: 133px;
    display: block;
}

#block-nodeblock-23 .content {
    margin: 0;
    padding:  0;
    float: left;
}

#block-nodeblock-23 > .content:after {
    content: '';
    clear: both;
    display:block;
}

#block-nodeblock-23 h2 {
    margin: 33px 0 0 0;
    padding: 0 50px 0 0;
    float: left;
    color: #595959;
    font-size: 12px;
    text-shadow: none;
}

.caroufredsel_slider li {
    padding-right: 50px;
}

.caroufredsel_slider li:first-child {
    padding-left: 0;
}

.caroufredsel_slider li div {
    height: 75px;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.caroufredsel_slider li img {
    margin: 0;
}
#block-menu-menu-objekt-tipai li:hover a {
    text-decoration: none;
}
#block-menu-menu-objekt-tipai li a {
    font-size: 12px;
    color: #595959;
    text-shadow: 1px 0 2px #ffffff;
    text-decoration: none;
}
#block-menu-menu-objekt-tipai li {
    float: left;
    list-style: none none;
    height: 30px;
    line-height: 30px;
    background: url(../images/object-menu-item.png) repeat-x;
    padding: 0 15px 4px 15px;
    border-top: 1px solid #d0d0d0;
    border-left: 1px solid #efefef;
    border-right: 1px solid #d0d0d0;
    font-size: 12px;
    color: #595959;
}
#block-menu-menu-objekt-tipai li.active-trail {
    background: url(../images/object-menu-item-active.png) repeat-x;
    border-top: 1px solid #979797;
    border-left: 1px solid #979797;
    border-right: 1px solid #979797;
    text-shadow: 2px 0 2px #ffffff;
    font-weight: bold;
}
#block-menu-menu-objekt-tipai ul {
    margin: 0;
    padding: 25px 0 0 0;
}
#block-menu-menu-objekt-tipai li:hover {
    background: url(../images/object-menu-item-hover.png) repeat-x;
    cursor: pointer;
}
#block-menu-menu-objekt-tipai li.first {
    margin-left: 0;
    border-top-left-radius: 3px;
    border-left: 1px solid #d0d0d0;
}
#block-menu-menu-objekt-tipai li.last {
    border-top-right-radius: 3px;
}
#block-menu-menu-objekt-tipai li.last:after {
    content: '';
    clear: both;
    display:block;
}
.views-row .views-field-field-object-image {
    float: left;
    border: 3px solid #F1F1F1;
    border-right: none;
    height: 150px;
}
.views-row .views-field-field-price {
    float: left;
    width: 397px;
    height: 150px;
    border-top: 3px solid #F1F1F1;
    border-bottom: 3px solid #F1F1F1;
}
.views-row .view-row-middle {
    padding: 5px 5px 20px 15px;
}
.view-namai-pardavimui .views-row,
.view-butai-pardavimui .views-row,
.view-sklypai-pardavimui .views-row,
.view-sodybos-sodai-pardavimui .views-row,
.view-patalpos-pardavimui .views-row,
.view-nuoma .views-row,
.view-isimintini-objektai .views-row,
.view-neskelbtini-objektai .views-row,
.view-objektai .views-row {
    width: 100%;
    margin-bottom: 15px;
    height: 150px;
    padding: 1px;
    clear: both;
}
.views-row.selected {
    cursor: pointer;
    border: 3px solid #8ec163;
    box-shadow: 0 0 3px #8ec163;
    margin-bottom: 9px;
    text-decoration: none;
}
.views-row.selected a {
    text-decoration: none;
}
.views-row.selected .views-field-field-object-image {
    border: none;
}
.views-row.selected .views-field-field-price {
    border: none;
}
.views-row.selected .views-field-field-photo {
    border: none;
    border-left: 3px solid #F1F1F1;
}
.views-field-field-photo.selected {
    border: 3px solid #8ec163;
    box-shadow: 0 0 3px #8ec163;
    cursor: pointer;
}
.view-fields-wrapper div {
    float: left
}
.view-fields-wrapper:after {
    content: '';
    clear: both;
    display:block;
}
.view-fields-wrapper-left {
    float: left;
}
.view-fields-wrapper-right {
    float: left;
    max-width: 160px;
}
.views-field-field-photo {
    float: left;
    height: 150px;
    width: 289px;
    border: 3px solid #F1F1F1;
}
.view-field-rooms,
.view-field-area,
.view-field-floors {
    background: url('../images/arrow.png') no-repeat scroll 0px center transparent;
    margin-left: 0;
    padding: 5px 10px;
    font-size: 13px;
    color: #4a4a4a;
}
.view-field-type {
    font-size: 11px;
    color: #4a4a4a;
}
.view-field-title {
    font-size: 16px;
    color: #598a31;
}
.view-row-middle > div:nth-child(3),
.view-field-title {
    height: 35px;
}
.view-field-title a:hover {
    color: #598a31;
}
.view-field-price {
    height: 25px;
    line-height: 25px;
    background: url(../images/price-button-bg.png) repeat-x;
    border-radius: 3px;
    padding: 0 15px 0 40px;
    color: #ffffff;
    text-shadow: 0 1px 1px #666;
    font-weight: bold;
    cursor: pointer;
}
.view-field-price:hover {
    background: url(../images/price-button-bg-hover.png) repeat-x;
}
.price-holder .view-field-price:nth-child(1) .icon {
    background: url(../images/price-icon-eur.png) no-repeat;
    width: 24px;
    height: 27px;
    display: inline-block;
    position: absolute;
    margin: 4px 0 0 -30px;
}
.price-holder .view-field-price:nth-child(2) .icon {
    background: url(../images/price-icon-eur.png) no-repeat;
    width: 24px;
    height: 27px;
    display: inline-block;
    position: absolute;
    margin: 4px 0 0 -30px;
}
.view-field-visit,
.view-field-remember {
    height: 25px;
    line-height: 23px;
    background: url(../images/visit-button-bg.png) repeat-x;
    border-radius: 3px;
    padding: 2px 15px 0 30px;
    color: #595959;
    text-shadow: 0 1px 1px #fff;
    cursor: pointer;
    font-size: 12px;
    margin: 0 0 0 10px;
}
.view-field-visit:hover,
.view-field-remember:hover {
    background: url(../images/visit-button-bg-hover.png) repeat-x;
}
.view-field-visit .icon,
.view-field-remember .icon {
    background: url(../images/visit-icon.png) no-repeat;
    width: 24px;
    height: 27px;
    display: inline-block;
    position: absolute;
    margin: -2px 0 0 -25px;
}
.view-field-remember .icon {
    background: url(../images/remember-icon.png) no-repeat;
    width: 16px;
    height: 25px;
}
.view-field-remember.remembered .icon {
    background: url(../images/remember-icon-selected.png) no-repeat;
}
.view-fields-wrapper-right {
    padding-left: 20px;
}
.view-fields-wrapper-right .view-field-title {
    margin-top: 15px;
    height: 32px;
}
.view-field-phone ul li {
    list-style: none none;
}
.view-field-phone ul li.first {
    background: url(../images/phone-icon-small.png) no-repeat;
    padding-left: 25px;
    color: #4a4a4a;
    height: 14px;
    font-size: 14px;
}
.view-field-phone ul li.last {
    background: url(../images/phone-icon-small-2.png) 0 -1px no-repeat;
    padding-left:25px;
    color: #868686;
    height: 12px;
    font-size: 12px;
    margin-top: 10px;
}
.view-field-email {
    background: url(../images/email-icon-small.png) 0 -4px no-repeat;
    padding-left: 25px;
    line-height: 12px;
    height: 12px;
    font-size: 12px;
    margin-top: 10px;
    color: #4a4a4a;
}
.view-field-contact {
    background: url(../images/email-icon-small-2.png) 0 1px no-repeat;
    margin-top: 15px;
    padding-left: 25px;
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
    color: #00a0c6;
    line-height: 12px;
    height: 12px;
}
a.print-page,
a.print-page:hover {
    color: #00a0c6;
}
.view-field-phone ul {
    padding: 0;
    margin: 0;
}
.pager li {
    padding: 0 !important;
    border-radius: 3px;
    margin-left: 5px !important;
}
.pager li,
.pager li a {
    width: 25px !important;
    height: 25px !important;
    font-size: 12px;
    color: #595959;
    text-shadow: 0 1px 1px #ffffff;
    font-weight: normal;
    line-height: 25px;
    display: inline-block !important;
}
.pager li a:hover {
    text-decoration: none;
}
.pager .pager-current {
    border: 1px solid #8abf5e;
    background-color: #a5d67c;
    cursor: default;
}
.pager .pager-item {
    border: 1px solid #cbcbcb;
    background-color: #e9e9e9;
}
.pager .pager-next,
.pager .pager-previous {
    border: 1px solid #0094ba;
    background-color: #00b3e4;
}
.pager .pager-next a,
.pager .pager-previous a {
    text-shadow: 0 1px 1px #ffffff, 0 -1px 1px #333333;
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
}
.view-agentai-blokas tr {
    background: none;
}
.view-agentai-blokas td {
    padding: 7px;
}
.view-agentai-blokas .col-first {
    padding-left: 0;
}
.view-agentai-blokas .col-last {
    padding-right: 0;
}
.view-agentai-blokas .views-field {
    border: 3px solid #F1F1F1;
}
.view-agentai-blokas .views-field:hover {
    border: 3px solid #8ec163;
    box-shadow: 0 0 3px #8ec163;
}
.block h2 {
    border-bottom: 1px solid #F1F1F1;
    color: #598a31;
    font-size: 14px;
}
#block-nodeblock-23 h2 {
    border-bottom: none;
}
.node-page .map-table td,
.node-page .map-table tr {
    padding: 0;
    background: none;
}
.node-type-page #featured,
.node-type-objektas #featured,
.node-type-agentas #featured,
.page-isimintini-skelbimai #featured,
.page-paskolos-skaiciuokle #featured {
    margin: 0;
    background: url('../images/slider-bg.png') repeat-x scroll 0 100% transparent;
    box-shadow: 0 3px 3px #DEDEDE;
    height: 160px;
    padding: 5px 0 20px 0;
}
.node-type-page #featured p,
.node-type-objektas #featured p,
.node-type-agentas #featured p,
.page-isimintini-skelbimai #featured p,
.page-paskolos-skaiciuokle #featured p {
    width: 900px;
    font-size: 26px;
}

hr {
    border: none;
    border-bottom: 1px solid #F1F1F1;
}

.front #featured p {
	width: 300px;
}

.front #featured {
	height: 348px;
}

.agent-adv {
    background: url(../images/agent-adv-bg.png) repeat-x;
}
.agent-adv-icon {
    margin: 20px 13px;
    float: left;
    width: 60px;
}
.clear {
    clear: both;
}
.agent-adv-text {
    float: left;
    width: 190px;
    margin-top: 30px;
    color: #ffffff;
    text-shadow: 0 1px 2px #333333;
}
.agent-adv-email {
    width: 215px;
    margin: 5px 15px;
    color: #ffffff;
}
.contacts td:first-child {
    width: 60%;
}
.contacts td {
    border: 1px solid #e1e1e1;
    background-color: #f1f1f1;
    color: #4a4a4a;
    font-size: 14px;
    line-height: 25px;
}
.contacts-phone {
    background: url(../images/phone-blue-icon.png) 0 3px no-repeat;
    padding-left: 25px;
}
.contacts-email {
    background: url(../images/email-icon-small-2.png) 0 3px no-repeat;
    padding-left: 25px;
}
.contacts-skype {
    background: url(../images/skype-icon.png) no-repeat;
    padding-left: 25px;
}
.contacts-phone,
.contacts-email a,
.contacts-skype a {
    color: #598a31;
}
.contacts-email a:hover,
.contacts-skype a:hover {
    color: #598a31;
    text-decoration: underline;
}
.print_html {
    margin-top: -45px;
    position: absolute;
    margin-left: -130px;
    font-size: 12px;
    width: 115px;
    background: url(../images/print-icon.png) no-repeat;
    padding-left: 10px;
}
.print_html a:hover {
    text-decoration: underline;
}
.object-adv-image {
    float: left;
    margin: 1px;
}
.list-advertisement {
    border: 1px dashed #e1e1e1;
    height: 152px;
    background-color: #f9f9f9;
    margin-bottom: 30px;
}
.object-adv-submit {
    float: right;
}
.object-adv-fields {
    float: left;
}
.object-adv-button {
    background: url(../images/object-adv-button.png) no-repeat;
    width: 270px;
    height: 27px;
    margin: 5px 20px 15px 20px;
    border: none;
    cursor: pointer;
}
.object-adv-button:hover {
    background: url(../images/object-adv-button-hover.png) no-repeat;
}
.object-adv-text {
    margin: 15px 20px 0 20px;
    background: url(../images/object-adv-text.png) no-repeat;
    width: 270px;
    height: 85px;
}
.object-adv-fields {
    width: 370px;
    margin-left: 10px;
}
#object-adv-form input[type=text] {
    border: 1px solid #dedede;
    border-radius: 3px;
    background-color: #ffffff;
    height: 25px;
    padding: 0 5px;
}
.object-adv-address {
    color: #598a31;
    width: 356px;
    margin: 25px 0 10px 0;
}
.triangle-icon {
    background: url(../images/arrow.png) 0 center no-repeat;
    padding-left: 10px;
    font-size: 13px;
    color: #4A4A4A;
}
.triangle-icon:nth-child(2) {
    margin: 0 18px;
}
.object-adv-rooms {
    width: 20px;
}
.object-adv-area {
    width: 30px;
}
.object-adv-floor {
    width: 20px;
}
.object-adv-inner:last-child {
    margin-top: 14px;
}
.object-adv-price-wrapper input[type="text"] {
    width: 55px;
    height: 18px !important;
    border: none !important;
}

.object-adv-email-wrapper input[type="text"] {
    width: 73px;
    height: 18px !important;
    border: none !important;
}
.object-adv-email-wrapper {
    display: block;
    height: 25px;
    background: url(../images/visit-button-bg.png) repeat-x;
    border-radius: 3px;
    padding: 2px 3px 0 0;
    margin-left: 10px;
    float: left
}
.object-adv-email-wrapper .icon {
    background: url(../images/object-adv-email-icon.png) no-repeat;
    width: 20px;
    height: 25px;
    margin-left: 5px;
    display: inline-block;
}


.object-adv-phone-wrapper input[type="text"] {
    width: 75px;
    height: 18px !important;
    border: none !important;
}
.object-adv-phone-wrapper {
    display: block;
    height: 25px;
    background: url(../images/visit-button-bg.png) repeat-x;
    border-radius: 3px;
    padding: 2px 3px 0 0;
    margin-left: 10px;
    float: left
}
.object-adv-phone-wrapper .icon {
    background: url(../images/object-adv-phone-icon.png) no-repeat;
    width: 20px;
    height: 25px;
    margin-left: 5px;
    display: inline-block;
}
#block-views-object-images-block .views-field-field-object-image {
    float: none;
    border: none;
    height: auto;
}
#block-views-object-data-block {
    width: 335px;
    float: left;
    margin-right: 45px;
}
#block-views-object-images-block {
    float: left;
    width: 550px;
}
#block-views-object-description-block {
    clear: both;
}
#block-views-object-images-block .field-slideshow-slide img {
    border: 2px solid #f1f1f1;
}
.field-slideshow-slide {
    margin: auto auto;
}
.grey-text {
    font-size: 12px;
    color: #868686;
}
#block-views-object-related-block .view-object-related tr {
    background: none;
}
#block-views-object-related-block .view-object-related td {
    border-right: 1px solid #F1F1F1;
    padding: 4px 20px;
}
#block-views-object-related-block h2 {
    border: none;
    font-size: 16px;
}
#block-views-object-related-block .view-object-related td:first-child {
    padding-left: 0;
}
#block-views-object-related-block .view-object-related td:last-child {
    padding-right: 0;
    border: none;
}
#block-views-object-related-block .image-holder {
    width: 195px;
    border: 2px solid #f1f1f1;
    background-color: #f1f1f1;
}
#block-views-object-related-block .text-holder {
    padding: 0 10px 5px 10px;
    width: 175px;
    background-color: #f1f1f1;
    border: 2px solid #f1f1f1;
    text-align: center;
}
#block-views-object-related-block {
    margin-bottom: 40px;
}
#block-views-object-description-block .views-field-body,
#block-views-object-description-block .views-field-body p {
    font-family: Arial, serif !important;
    font-size: 14px !important;
    color: #4a4a4a !important;
}
#block-views-object-description-block {
    padding-top: 40px;
}
#block-views-object-data-block .views-field-field-photo {
    margin-top: 30px;
    width: 330px;
}
#block-views-object-data-block .views-row .views-field-field-price {
    width: auto;
    height: auto;
    float: none;
    border: none;
}
#block-views-object-data-block .view-fields-wrapper.no-float div {
    float: none;
    margin: 10px 0;
}
#block-views-object-data-block .view-fields-wrapper:not(.no-float) {
    border-top: 1px solid #f1f1f1;
    padding-top: 10px;
}
#block-views-object-data-block .view-field-title {
    border-bottom: 1px solid #f1f1f1;
}
#block-views-object-data-block a .view-field-title {
    border: none;
}
.node-type-objektas #page-title,
.node-type-objektas .print-link {
    display: none;
}
#block-views-object-data-block .view-field-visit {
    float: right;
}
.views-exposed-form .views-exposed-widget {
    float: none;
}
.views-exposed-widget label,
.views-exposed-widget div {
    display: inline-block;
}
.views-exposed-widget div input[type=text] {
    width: 50px;
    height: 20px;
    text-align: center;
    margin-right: 10px;
}
.exposed-filter-group {
    float: left;
}
.exposed-filter-group:nth-child(2) {
    margin: 0 40px;
    padding: 0 30px;
    border-right: 1px solid #e9e9e9;;
    border-left: 1px solid #e9e9e9;;
}
#views-exposed-form-butai-pardavimui-page,
#views-exposed-form-namai-pardavimui-page,
#views-exposed-form-sklypai-pardavimui-page,
#views-exposed-form-sodybos-sodai-pardavimui-page,
#views-exposed-form-patalpos-pardavimui-page,
#views-exposed-form-nuoma-page,
#views-exposed-form-neskelbtini-objektai-page,
#views-exposed-form-objektai-page {
    padding-top: 20px;
    border-top: 1px solid #f1f1f1;
    margin-bottom: 20px;
}
.views-exposed-form {
    background-color: #fafafa;
    padding: 25px 30px;
    border: 1px solid #e9e9e9;
}
.view-butai-pardavimui .view-content,
.view-namai-pardavimui .view-content,
.view-sklypai-pardavimui .view-content,
.view-sodybos-sodai-pardavimui .view-content,
.view-patalpos-pardavimui .view-content,
.view-nuoma .view-content,
.view-neskelbtini-objektai .view-content,
.view--objektai .view-content {
    padding-top: 20px;
    border-top: 1px solid #f1f1f1;
}
.block-menu {
    margin-bottom: 20px;
}
#edit-combine-wrapper {
    position: absolute;
    margin-top: -107px;
    margin-left: 120px;
}
#edit-combine-wrapper input {
    width: 140px;
    height: 20px;
    text-align: left;
}
.views-submit-button {
    display: inline-block;
}
.views-reset-button {
    display: inline-block;
}
#block-views-object-description-block .title {
    font-size: 16px;
    color: #598A31;
}
#block-block-7 .bottom {
    width: 100%;
    height: 40px;
    background: url(../images/block-bottom-gradient.png) no-repeat;
}

#block-block-7 .content .content {
    background: #f9f9f9 url(../images/green-check.png) 5px center no-repeat;
    border: 1px dashed #dddddd;
    width: 500px;
    padding: 5px 0 5px 35px;
    margin: 40px 0 15px 0;
}
.view-field-price {
    margin-bottom: 6px;
    float: none !important;;
}
#block-views-object-data-block .price-holder {
    float: left;
}
.object-adv-price-wrapper {
    height: 25px;
    display: block;
    padding-right: 3px;
    float: left !important;
}
.object-adv-price-wrapper .icon {
    background: url(../images/price-icon-eur.png) no-repeat;
    width: 24px;
    height: 27px;
    display: inline-block;
    position: absolute;
    margin: 4px 0 0 -30px;
}
#cboxLoadedContent {
    margin-bottom: 28px;
    background-color: #ffffff;
    border-radius: 10px;
}
.views-exposed-form .views-submit-button .form-submit {
    background: url(../images/search-button.png) no-repeat;
}
.views-exposed-form .views-submit-button .form-submit:hover {
    background: url(../images/search-button-hover.png) no-repeat;
}
.views-exposed-form .views-submit-button .form-submit,
.views-exposed-form .views-reset-button .form-submit {
    width: 123px;
    border-radius: 5px;
    box-shadow: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 1px 1px 1px #999999;
    margin-right: 0;
    text-align: left;
    margin-top: 0;
}
.views-exposed-form .views-reset-button .form-submit {
    background: url(../images/clean-bg.png) repeat-x;
    width: 80px;
}
.views-exposed-form .views-reset-button .form-submit:hover {
    background: url(../images/clean-bg-hover.png) repeat-x;
}
input[type=radio] {
    background: url(../images/checkbox.png) no-repeat;
}
input[type=radio]:checked {
    background: url(../images/checkbox.png) no-repeat;
}
.views-exposed-widgets .exposed-filter-group:nth-child(2) label {
    width: 100px;
    font-weight: normal;
    color: #707070;
}
.views-exposed-widgets .exposed-filter-group:nth-child(3) label {
    width: 75px;
    font-weight: normal;
    color: #707070;
}
.views-exposed-widgets .exposed-filter-group:nth-child(3) label.option {
    width: auto;
    margin-right: 10px;
    color: #707070;
}
.views-exposed-widgets .exposed-filter-group:nth-child(3) .form-radios {
    margin-top: 10px;
}
.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 30px;
    border: 1px solid #CCC;
    border-radius: 5px;
    background: #FFF;
    box-shadow: none;
    text-decoration: none;
    white-space: nowrap;
    line-height: 30px;
    color: #707070;
}
.chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    margin: 7px 7px 0 0;
    background: url(../images/down.png) no-repeat;
}
.chosen-container-single .chosen-single div {
    width: 24px;
}
#fixed-buttons {
    position: fixed;
    top: 300px;
    left: 0;
}
#object-price-button {
    width: 39px;
    height: 171px;
    background: url(../images/object-price-button.png) no-repeat;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    z-index: 999;
}
#object-price-button:hover {
    background: url(../images/object-price-button-hover.png) no-repeat;
}
#facebook-button {
    width: 39px;
    height: 50px;
    background: url(../images/fb-button.png) no-repeat;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    z-index: 999;
}
#facebook-button:hover {
    background: url(../images/fb-button-hover.png) no-repeat;
}
#object-price-text {
    background-color: #6aa53b;
    border-left: 1px solid #5d9530;
    border-right: 1px solid #5d9530;
    height: 171px;
    width: 420px;
    padding-left: 10px;
    float: left;
    z-index: 999;
    position: relative;
    cursor: pointer;
}
#object-price-text ul {
    color: #ffffff;
    font-size: 13px;
    padding: 10px 15px;
}
#object-price-text ul li:nth-child(1) {
    margin-bottom: 20px;
}
#object-price-form {
    background: url(../images/object-rpice-form-bg.png);
    height: 171px;
    width: 520px;
    float: left;
    z-index: 999;
    position: relative;
    border-left: 1px solid #98c572;
}
.view-object-related table {
    width: auto;
}
.wrapper-left {
    float: left;
}
.wrapper-right {
    float: right;
}
.node-type-agentas #block-system-main {
    float: left;
    width: 30%;
    padding-bottom: 60px;
}

.node-type-agentas #block-edomus-my-block {
    float: right;
    width: 68%;
}
.node-type-agentas .print_html {
    margin-top: -45px;
    margin-left: 515px;
}
.node-type-agentas table {
    margin: 0;
}
.node-type-agentas .view-field-description {
    margin-top: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #F1F1F1;
    border-top: 1px solid #F1F1F1;
}
.node-type-agentas .field-name-field-posakis .field-item {
    font-style: italic;
    color: #5d9530;
    display: inline-block;
    text-align: center;
    line-height: 18px;
}
.node-type-agentas .field-name-field-posakis .field-item:before {
    content: "“";
    font-weight: bold;
    font-size: 200%;
    display: inline;
    vertical-align: middle;
    color: #777777;
    margin-right: 10px;
}
.node-type-agentas .field-name-field-posakis .field-item:after {
    content: "”";
    font-weight: bold;;
    font-size: 200%;
    display: inline;
    vertical-align: middle;
    color: #777777;
    text-align: right;
    margin-left: 10px;
}
.node-type-agentas .field-name-field-image {
    border: 3px solid #F1F1F1;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
}

.node-type-agentas .content {
    margin-top: 0;
}

.node-type-agentas .field-name-field-image img {
    margin: 0;
}

.node-type-agentas .print-link {
    padding-bottom: 0;
}
.node-type-objektas #main {
    padding-top: 30px;
}
#block-edomus-my-block .view-field-description {
    line-height: 22px;
}
#block-edomus-my-block .view-field-education {
    margin-top: 15px;
    font-size: 12px;
}