.page-paskolos-skaiciuokle .form-content {
    margin-top: 16px;
    background-color: #FAFAFA;
    padding: 25px 30px;
    border: 1px solid #E9E9E9;
    min-height: 50px;
}

#loan-calculator-fields input[type="text"] {
    width: 50px;
    height: 20px;
    text-align: center;
    margin-right: 10px;
}

.blue-text {
    color: #00A0C6;
}

.red-text {
    color: #c60220;
}

.blue-button {
    height: 25px;
    line-height: 25px;
    background: transparent url("/themes/bartik/images/price-button-bg.png") repeat-x scroll 0 0;
    border-radius: 3px;
    padding: 0 35px;
    color: #FFF;
    text-shadow: 0 1px 1px #666;
    font-weight: bold;
    cursor: pointer;
    width: 90px;
    margin: 12px 385px;
}

.blue-button:hover {
    background: transparent url("/themes/bartik/images/price-button-bg-hover.png") repeat-x scroll 0 0;
}

.blue-button span {
    background: transparent url("/themes/bartik/images/calculator.png") no-repeat scroll 0 0;
    width: 12px;
    height: 14px;
    display: inline-block;
    position: absolute;
    margin: 6px 0 0 6px;
}

#payment-table {
    max-height: 400px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 15px;
    margin-bottom: 24px;
}

#payment-table th {
    background: #578830; /* Old browsers */
    background: -moz-linear-gradient(top, #68a339 0%, #619836 36%, #578830 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #68a339 0%,#619836 36%,#578830 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #68a339 0%,#619836 36%,#578830 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83c783', endColorstr='#008a00',GradientType=0 ); /* IE6-9 */
}

#payment-table th:not(:last-child) {
    border-right: 1px solid #56872f;
}

#payment-table th:not(:first-child) {
    border-left: 1px solid #81ac5d;
}

#payment-table td {
    border: 1px solid #e9e9e9;
    background-color: #ffffff;
}

.request .required::-webkit-input-placeholder:after {
    content:'*';
    color: red;
}
.request .required:-moz-placeholder:after {
    /* Firefox 18- */
    content:'*';
    color: red;
}
.request .required::-moz-placeholder:after {
    /* Firefox 19+ */
    content:'*';
    color: red;
}
.request .required:-ms-input-placeholder:after {
    content:'*';
    color: red;
}

.summary-first, .summary-second {
    width: 50%;
}