.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 550px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  549px;
    height: 125px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 165px;
    height: 110px;
}
.jcarousel-skin-tango .jcarousel-item img {
    border: 2px solid #f1f1f1;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 6px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 3px;
    right: 1px;
    width: 46px;
    height: 109px;
    cursor: pointer;
    background: url(slider-right.png) no-repeat 0 -7px;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 3px;
    left: 0;
    width: 46px;
    height: 109px;
    cursor: pointer;
    background: transparent url(slider-left.png) no-repeat 0 -7px;
}
.jcarousel-skin-tango .field-slideshow-carousel li {
    opacity: 1;
}